//variables
$black: #2c363f;
$white: #fefefe;
$green: #5dab92;

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*ベースを16px⇒10pxに出来た*/
  height: 100%;
  width: 100%;

  body {
    width: 100%;
    // height: 100%;
    header {
      // z-index: 10;
      display: flex;

      // justify-content: space-between;

      .header-flex {
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 100%;
        z-index: 10; /*z-indexではなくover-flow:hidden;を使用するのが正しい気がする*/
        // overflow: hidden;

        .h-left {
          margin: 0.5%;
          display: flex;
          align-items: center;
          justify-content: center;
          // z-index: 3;
          width: 20%; /*最速で稼げる～を入れる必要があるし、mixinかなんかでdisplay:none;を使ってウィンドウ幅で消すようにする必要がありそう*/

          img {
            width: 50%;
            // overflow: hidden;
          }
        }

        /*そもそもアコーディオンメニューは完成していないが、例を使用した限りではz-indexなどを使用して階層を変更？してあげないとメニューが開いた際に下へずれてしまう。*/
        .header-nav {
          width: 55%;
          position: relative;

          .h-accordion {
            display: flex;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            // align-items: center;
            // margin: auto 0;
            // font-size: 2.5rem;

            .hidden {
              display: none;
            }

            .open {
              display: inline-block;
              cursor: pointer;
              font-size: 1.2rem;
              margin: auto 5px;
              // height: 100%;
            }
            .accordion-link {
              display: block;
              height: 0;
              overflow: hidden;
              padding: 0;
              opacity: 0;
              transition: 0.2s;
              position: absolute;

              li {
                list-style-type: none;
              }
            }

            .hidden:hover + .open + .accordion-link {
              height: auto;
              opacity: 1;
              padding: 10px;
              // z-index: 50;
            }
          }
        }

        // .h-right {
        //   ul {
        //     display: flex;
        //     list-style: none;
        //     font-size: 1.3rem;
        //     font-weight: bold;

        //     .blue {
        //       background-color: rgb(0, 204, 255);
        //     }

        //     li {
        //       margin-left: 15px;
        //       padding: 0 10px;
        //       // height: 60px;
        //       background-color: #fff;
        //       a {
        //         height: 60px;
        //         display: flex;
        //         align-items: center;
        //       }
        //       .blue a {
        //         color: white;
        //       }
        //     }
        //   }
        // }
      }
    }

    article {
      display: flex;
      height: 100%;
      background-image: url("../img/bg-hero3.png");
      background-attachment: fixed;
      z-index: 0;

      .mainvisual {
        width: 100%;
        height: 500px;
        position: relative;
        img {
          width: 100%;
          // height: 100%;
          position: absolute;
          top: -40px;
          // object-fit: cover;
          // z-index: 0;
        }
      }
      .black {
        clear: both;
        width: 100%;
        height: 200px;
      }
    }
  }
}

/*アコーディオンメニューの例*/
//         .accordion{
//           display:flex;
//           width:50%;
//         }
//         .accordion{
//           display:flex;
//           width:50%;
//           &-hidden{
//             display: none;
//           }

//         }

//         .accordion-open {
//           display: block;
//           padding: 10px;
//           background: #52a261;
//           cursor: pointer;
//           margin: 5px 0;
//           font-weight: 700;
//         }

// /* Answer部分は最初は表示しない */
//         .accordion-close {
//           display: block;
//           height: 0;
//           overflow: hidden;
//           padding: 0;
//           opacity: 0;
//           transition: 0.5s;/* 表示速度の設定 */
//         }

// /* チェックボックスにチェックが入ったらAnswer部分を表示 */
//         .accordion-hidden:hover + .accordion-open + .accordion-close {
//           height: auto;
//           opacity: 1;
//           padding: 10px;
//           background: #55acee;
//           font-weight: 700;
//         }
