//variables
$black: #2c363f;
$red: #f16b6b;
$blue: #2498b3;

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*ベースを16px⇒10pxに出来た*/
  height: 100%;
  width: 100%;

  body {
    width: 100%;

    header {
      display: flex;

      .header-flex {
        display: flex;
        position: fixed;
        justify-content: space-between;
        // align-items: center;
        background-color: white;
        width: 100%;
        z-index: 10; /*z-indexではなくover-flow:hidden;を使用するのが正しい気がする*/
        // overflow: hidden;

        .h-left {
          margin: 0.5%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%; /*最速で稼げる～を入れる必要があるし、mixinかなんかでdisplay:none;を使ってウィンドウ幅で消すようにする必要がありそう*/

          img {
            width: 50%;
            // overflow: hidden;
          }
        }

        /*そもそもアコーディオンメニューは完成していないが、例を使用した限りではz-indexなどを使用して階層を変更？してあげないとメニューが開いた際に下へずれてしまう。*/
        .header-nav {
          width: 60%;
          height: 50px;
          // align-items: center;

          // position: relative;

          .h-accordion {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            // position: absolute;
            // top: 0;
            // right: 0;
            // align-items: center;
            // margin: auto 0;
            // font-size: 2.5rem;

            .hidden {
              display: none;
            }

            .open {
              display: inline-block;
              cursor: pointer;
              font-size: 1.3rem;
              margin: 15px 10px 5px 20px;
              font-weight: 700;
            }
            .accordion-link {
              display: block;
              height: 0;
              overflow: hidden;
              padding: 0 10px; /*padding:0;だと斜めに出てくるように見える*/
              opacity: 0;
              transition: 0.2s;
              position: absolute;

              li {
                list-style-type: none;
                background-color: $red;
                padding: 15px 60px 15px 15px;
                font-size: 1.4rem;
              }
            }

            .hidden:hover + .open + .accordion-link {
              height: auto;
              opacity: 1;
              padding: 10px;
            }
            .box {
              height: 50px;

              &:last-of-type {
                background-color: $blue;
                color: #fff;
              }
            }
          }
        }
      }
    }

    article {
      display: flex;
      height: 100%;
      background-image: url("../img/bg-hero3.png");
      background-attachment: fixed;
      z-index: 0;

      .mainvisual {
        width: 100%;
        height: 500px;
        position: relative;
        img {
          width: 100%;
          // height: 100%;
          position: absolute;
          top: 50px;
          // object-fit: cover;
          // z-index: 0;
        }
      }
      .black {
        clear: both;
        width: 100%;
        height: 200px;
      }
    }
  }
}
